@inherits Logicas.CLogicaComando
 
<div style="@Estilo" @onmouseenter="@PonerEnGris" @onmouseleave="@SacarDeGris" @onclick="@EjecutarFuncion">
  <img src="@Imagen" style="width: 32px; height: 32px; margin-left: 4px; margin-top: 4px;"/>
</div>

