@using TableroPecasV5.Client.Componentes
@inherits Logicas.CLogicaPagTortasGIS

<div style="width: 100%; height: 100%; z-index: 90; position: absolute; top: 0px; left: 0px; background: white;">
  <CTortasGIS ColumnaDatos="@ColumnaDatos"
              ColumnaAgrupadora="@ColumnaAgrupadora"
              ColumnaPosicion="@ColumnaPosicion"
              ColumnaLat="@ColumnaLat"
              ColumnaLng="@ColumnaLng"
              ClaseIndicador="@ClaseIndicador"
              CodigoIndicador="@Indicador"
              Solicitud="@Solicitados"
              Lineas="@Lineas"/>
  <div style="width: 23px; height: 23px; position: absolute; top: 0px; left: 0px; background-color: white;">
    <img src="Imagenes/Atras.PNG"
         style="width: 21px; height: 21px; display: inline-block; margin-left: 1px; margin-top: 1px;"
         @onclick="@Retroceder" />
  </div>
</div>

