@page "/PagPinsLL"
@using TableroPecasV5.Client.Componentes
@inherits Logicas.CLogicaPagPinsLL

<div style="width: 100%; height: 100%;">
   <CPinsLL Agrupar="true"
            ColumnaDatos="@ColumnaDatos"
            ColumnaLat="@ColumnaLat"
            ColumnaLng="@ColumnaLng"
            Columnas="@Columnas"
            Lineas="@Lineas"/>
</div>

