@page "/SalaReunion/{Codigo:int}"
@using Blazorise
@using TableroPecasV5.Shared
@using TableroPecasV5.Client.Componentes
@using TableroPecasV5.Client.Plantillas
@inherits Logicas.CLogicaSalaReunion

@if (Solapas == null)
{
  <p>Aguarde unos segundos por favor</p>
}
else
{
<div style="@EstiloCompleto">
  <div style="@EstiloSuperior">
    @foreach (Logicas.UnionSolapaTab Solapa in Solapas)
    {
      <div style="@EstiloElemento">
        <TableroPecasV5.Client.Componentes.CElementoTab AnchoTotal="@Contenedores.CContenedorDatos.AnchoOpcionSolapa"
                                                        AltoTotal="@Contenedores.CContenedorDatos.AltoOpcionSolapa"
                                                        Texto="@Solapa.Solapa.Nombre" Codigo="@Solapa.Solapa.Codigo"
                                                        @key="@Solapa.Solapa.Codigo"
                                                        @ref="@Solapa.TabLocal" CodigoPrimeraSolapa="@CodigoPrimeraSolapa" />
      </div>
    }
    @if (Contenedores.CContenedorDatos.EsAdministrador)
    {
      <div style="@EstiloAgregarSolapa">
        <TableroPecasV5.Client.Componentes.CElementoTab AnchoTotal="25"
                                                        AltoTotal="@Contenedores.CContenedorDatos.AltoOpcionSolapa"
                                                        Texto="+" Codigo="-1"
                                                        @key="-1"
                                                        @ref="@SolapaCrear.TabLocal"
                                                        CodigoPrimeraSolapa="@CodigoPrimeraSolapa" />
      </div>
    }
    @if (EditarXML)
    {
      <div style="@EstiloEditarSolapa">
        <TableroPecasV5.Client.Componentes.CElementoTab AnchoTotal="40"
                                                        AltoTotal="@Contenedores.CContenedorDatos.AltoOpcionSolapa"
                                                        Texto="Editar" Codigo="-2"
                                                        @key="-1"
                                                        @ref="@SolapaEditar.TabLocal"
                                                        CodigoPrimeraSolapa="@CodigoPrimeraSolapa" />
      </div>
    }
  </div>

  <div style="width: 100%; height: 1px; background-color: white; position: relative; margin-top: -5px; padding: 0px;" />

  @if (PreguntasEnSolapa != null)
  {
    <div style="width: 100%; background-color: white; position: absolute;">
      @foreach (Logicas.UnionPreguntaTab Pregunta in PreguntasEnSolapa)
      {
        <div style="@EstiloTarjeta(Pregunta)" @onclick="@((e) => { MoverseAFicha(Pregunta.Pregunta.Codigo); })">
          <TableroPecasV5.Client.Componentes.CTarjeta @ref="@Pregunta.TabLocal" @key="@Pregunta.Pregunta.Codigo"
                                                      Pregunta="@Pregunta.Pregunta" />
        </div>
      }
    </div>
  }
  else
  {
    @if (XMLContenedor != null && XMLContenedor.Length > 0)
    {
      <CascadingValue Value="this">
        <TableroPecasV5.Client.Componentes.CComponenteContenedorBlocks XML="@XMLContenedor" />
       </CascadingValue>
        @*<div style="width: 100%; position: absolute;">

            @foreach (CLinkReloj Reloj in BlocksEnPantalla.Relojes)
            {
              @if (Reloj.Visible)
              {
                <div class="Centrada" style="@EstiloRelojLink(@Reloj)">
                  @if (Contenedores.CContenedorDatos.SiempreTendencia)
                  {
                    <TableroPecasV5.Client.Componentes.CTendRed @ref="@Reloj.ComponenteTendRed" Indicador="@Reloj.Indicador" />
                  }
                  else
                  {
                    <TableroPecasV5.Client.Componentes.CRelojCompleto Abscisa="@Reloj.Abscisa" Ordenada="@Reloj.Ordenada"
                                                                      Indicador="@Reloj.Indicador" @ref="@Reloj.ComponentePropio"
                                                                      CodigoElementoDimension="@Reloj.CodigoElemento" CodigoUnico="@Reloj.CodigoUnico"
                                                                      NivelFlotante="@Reloj.NivelFlotante" />
                  }
                </div>
              }
            }

            @foreach (CLinkFicha Ficha in BlocksEnPantalla.Fichas)
            {
              <div style="@EstiloTarjetaLink(@Ficha)" @onclick="@((e) => { MoverseAFicha(Ficha.Pregunta.Codigo); })">
                <TableroPecasV5.Client.Componentes.CTarjeta Pregunta="@Ficha.Pregunta" @ref="@Ficha.ComponentePropio" />
              </div>
            }

            @foreach (CLinkTendencia Tendencia in BlocksEnPantalla.Tendencias)
            {
              <div style="@EstiloLinkBase(@Tendencia)">
                <TableroPecasV5.Client.Componentes.CComponenteTendencias @ref="@Tendencia.ComponentePropio" NivelFlotante="@Tendencia.NivelFlotante"
                                                                         Ancho="@Tendencia.Ancho" Alto="@Tendencia.Alto"
                                                                         CodigoElementoDimension="@Tendencia.CodigoElementoDimension"
                                                                         PosicionPuntoSeleccionado="@Tendencia.PosicionPuntoSeleccionado"
                                                                         Abscisa="@Tendencia.Abscisa" Ordenada="@Tendencia.Ordenada"
                                                                         Ampliado="@Tendencia.Ampliado"
                                                                         Indicador="@Tendencia.Indicador" CodigoUnico="@Tendencia.CodigoUnico"
                                                                         Alarmas="@Tendencia.Reloj.Alarmas" />
              </div>
            }

            @foreach (CLinkOtro Grilla in BlocksEnPantalla.Grillas)
            {
              <div style="@EstiloGrilla(@Grilla)" class="ui-widget-content">
                <TableroPecasV5.Client.Componentes.CGrillaDatos @ref="@Grilla.ComponenteGrilla" NivelFlotante="@Grilla.NivelFlotante"
                                                                Ancho="@Grilla.Ancho" Alto="@Grilla.Alto"
                                                                Abscisa="@Grilla.Abscisa" Ordenada="@Grilla.Ordenada"
                                                                Ampliado="@Grilla.Ampliado"
                                                                Indicador="@Grilla.Indicador" CodigoUnico="@Grilla.CodigoUnico" />
              </div>
            }

            @foreach (CLinkGraficoCnt Grafico in BlocksEnPantalla.Graficos)
            {
              <div id="@IdGrafico(Grafico.Datos.Codigo)" class="ui-widget-content"
                   style="@EstiloGrafico(Grafico)">
                <div style="@EstiloGraficoSuperior(Grafico)">
                  <p><b>@Grafico.Datos.Nombre</b></p>
                </div>
                <div style="@EstiloContenedorGrafico(Grafico)">
                  @if (Grafico.Datos.Clase == ClaseGrafico.BarrasH)
                  {
                    <TableroPecasV5.Client.Componentes.CGrafico @ref="@Grafico.ComponentePropio"
                                                                @key="@Grafico.CodigoUnico"
                                                                Abscisa="@Grafico.Abscisa"
                                                                Ordenada="@Grafico.Ordenada"
                                                                Ancho="@Grafico.Ancho" Alto="@Grafico.Alto"
                                                                CodigoUnico="@Grafico.CodigoUnico"
                                                                Clase="@Grafico.Clase"
                                                                ColumnaAbscisas="@Grafico.ColumnaAbscisas"
                                                                ColumnaOrdenadas="@Grafico.ColumnaOrdenadas"
                                                                ColumnaSexo="@Grafico.ColumnaSexo"
                                                                ValoresSeleccionados="@Grafico.ValoresSeleccionados"
                                                                GraficosDependientes="@Grafico.GraficosDependientes"
                                                                AgrupamientoDependiente="@Grafico.AgrupamientoDependiente"
                                                                AgrupamientoIndependiente="@Grafico.AgrupamientoIndependiente"
                                                                Detallado="@Grafico.Detallado"
                                                                PuedeCrearGraficoDependiente="false"
                                                                NivelFlotante="@Grafico.NivelFlotante" />
                  }
                  else
                  {
                    <TableroPecasV5.Client.Componentes.CGrafico @ref="@Grafico.ComponentePropio"
                                                                @key="@Grafico.CodigoUnico"
                                                                Abscisa="@Grafico.Abscisa"
                                                                Ordenada="@Grafico.Ordenada"
                                                                Ancho="@Grafico.Ancho" Alto="@Grafico.Alto"
                                                                CodigoUnico="@Grafico.CodigoUnico"
                                                                Clase="@Grafico.Clase"
                                                                ColumnaAbscisas="@Grafico.ColumnaAbscisas"
                                                                ColumnaOrdenadas="@Grafico.ColumnaOrdenadas"
                                                                ValoresSeleccionados="@Grafico.ValoresSeleccionados"
                                                                GraficosDependientes="@Grafico.GraficosDependientes"
                                                                AgrupamientoDependiente="@Grafico.AgrupamientoDependiente"
                                                                AgrupamientoIndependiente="@Grafico.AgrupamientoIndependiente"
                                                                Detallado="@Grafico.Detallado"
                                                                PuedeCrearGraficoDependiente="false"
                                                                NivelFlotante="@Grafico.NivelFlotante" />
                  }
                </div>
              </div>
            }

            @foreach (CLinkMapa Mapa in BlocksEnPantalla.Mapas)
            {
              <div class="ui-widget-content"
                   style="@EstiloMapa(Mapa)">
                <div style="@EstiloMapaSuperior(Mapa)">
                  <p><b>@Mapa.Datos.Nombre</b></p>
                  <div style="@EstiloDivBotonMapa(Mapa)">
                    @if (Mapa.Minimizado)
                    {
                      <a class="far fa-square EstiloBoton EstiloBotonAwesome" style="font-size: 16px; display: inline-block; margin: 0px 0px 0px 0px;"
                         @onclick="@((e) => { MaximizarMapa(Mapa); })"></a>
                    }
                    else
                    {
                      <a class="far fa-clone EstiloBoton EstiloBotonAwesome" style="font-size: 16px; display: inline-block; margin: 0px 0px 0px 0px;"
                         @onclick="@((e) => { ReducirMapa(Mapa); })"></a>
                    }
                  </div>
                </div>
                <div id="@Mapa.Direccion" style="@EstiloContenedorMapa(Mapa)">
                  @switch (Mapa.Datos.Clase)
                  {
                    case CGrafV2DatosContenedorBlock.ClaseBlock.MapaControl:
                      <TableroPecasV5.Client.Componentes.CMapaBing @ref="@Mapa.ComponenteMapa"
                                                                   @key="@Mapa.CodigoUnico"
                                                                   Direccion="@Mapa.Direccion"
                                                                   Abscisa="@Mapa.Datos.Posicion.X"
                                                                   Ordenada="@Mapa.Datos.Posicion.Y"
                                                                   Ancho="@Mapa.Datos.Ancho" Alto="@Mapa.Datos.Alto"
                                                                   Codigo="@Mapa.Datos.CodigoPropio"
                                                                   NivelFlotante="@Mapa.NivelFlotante" />
                      break;
                    case CGrafV2DatosContenedorBlock.ClaseBlock.MapaGradientes:
                      <TableroPecasV5.Client.Componentes.CMapaGradiente @ref="@Mapa.ComponenteGradiente"
                                                                        @key="@Mapa.CodigoUnico"
                                                                        Mapa="@Mapa"
                                                                        Direccion="@Mapa.Direccion"
                                                                        CodigoCapa="@Mapa.Datos.CodigoPropio"
                                                                        Indicador="@Contenedores.CContenedorDatos.IndicadorDesdeCodigo(Mapa.Datos.CodigoIndicador)"
                                                                        CodigoElementoDimension="@Mapa.Datos.CodigoElementoDimension"
                                                                        Abscisa="@Mapa.Datos.Posicion.X"
                                                                        Ordenada="@Mapa.Datos.Posicion.Y"
                                                                        Ancho="@Mapa.Datos.Ancho"
                                                                        Alto="@Mapa.Datos.Alto"
                                                                        NivelFlotante="@Mapa.NivelFlotante" />
                      break;
                    case CGrafV2DatosContenedorBlock.ClaseBlock.MapaCalor:
                      <TableroPecasV5.Client.Componentes.CMapaCalor @ref="@Mapa.ComponenteCalor"
                                                                    @key="@Mapa.CodigoUnico"
                                                                    Direccion="@Mapa.Direccion"
                                                                    CodigoCapa="@Mapa.Datos.CodigoPropio"
                                                                    Indicador="@Contenedores.CContenedorDatos.IndicadorDesdeCodigo(Mapa.Datos.CodigoIndicador)"
                                                                    CodigoElementoDimension="@Mapa.Datos.CodigoElementoDimension"
                                                                    Abscisa="@Mapa.Datos.Posicion.X"
                                                                    Ordenada="@Mapa.Datos.Posicion.Y"
                                                                    ColumnaLat="@Mapa.Datos.ColumnaLat"
                                                                    ColumnaLng="@Mapa.Datos.ColumnaLng"
                                                                    ColumnaValor="@Mapa.Datos.ColumnaDatos"
                                                                    Ancho="@Mapa.Datos.Ancho"
                                                                    Alto="@Mapa.Datos.Alto"
                                                                    NivelFlotante="@Mapa.NivelFlotante" />
                      break;
                  }
                </div>
              </div>
            }

            @foreach (CLinkOtro Otro in BlocksEnPantalla.Otros)
            {
              <div class="ui-widget-content"
                   style="@EstiloOtro(Otro)">
                <div style="@EstiloOtroSuperior(Otro)">
                  <p><b>@Otro.Datos.Nombre</b></p>
                  <div style="@EstiloDivBotonOtro(Otro)">
                    @if (Otro.Minimizado)
                    {
                      <a class="far fa-square EstiloBoton EstiloBotonAwesome" style="font-size: 16px; display: inline-block; margin: 0px 0px 0px 0px;"
                         @onclick="@((e) => {MaximizarOtro(Otro);})"></a>
                    }
                    else
                    {
                      <a class="far fa-clone EstiloBoton EstiloBotonAwesome" style="font-size: 16px; display: inline-block; margin: 0px 0px 0px 0px;"
                         @onclick="@((e) => {ReducirOtro(Otro);})"></a>
                    }
                  </div>
                </div>
                <div id="@Otro.Direccion" style="@EstiloContenedorOtro(Otro)">
                  @switch (Otro.Datos.Clase)
                  {
                    case CGrafV2DatosContenedorBlock.ClaseBlock.Mimico:
                      <TableroPecasV5.Client.Componentes.CMimico @ref="@Otro.ComponenteMimico"
                                                                 @key="@Otro.CodigoUnico"
                                                                 CodigoUnico="@Otro.Datos.CodigoPropio"
                                                                 AnchoImpuesto="@Otro.Datos.Ancho"
                                                                 AltoImpuesto="@Otro.Datos.Alto"
                                                                 DefasajeVertical="25" />
                      break;
                  }
                </div>
              </div>
            }

          </div>*@
        }
        }
        @if (EditarSolapa)
        {
          <CascadingValue Value="this">
            <TableroPecasV5.Client.Componentes.CAgregarElem XML="@XMLSolapaSeleccionada" />
          </CascadingValue>
        }
    </div>


  <Modal @ref="ModalCrearSolapa" Style="position: fixed; z-index: 99999999;" Closing="@CerrandoCrearSolapa">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
      <ModalHeader>
        <ModalTitle>Agregar una solapa</ModalTitle>
      </ModalHeader>
      <ModalBody>
        <Field>
          <FieldLabel>Nombre de la solapa</FieldLabel>
          <TextEdit Placeholder="Denominación de la solapa" @bind-Text="@NombreSolapaNueva" />
        </Field>
        @*<Field>
            <FieldLabel>Color</FieldLabel>
            <ColorEdit @bind-Color="@ColorSolapaNueva" />
          </Field>*@
        <Field>
          <Check TValue="bool" @bind-Checked="@MultiInstrumentosSolapaNueva">Multi-instrumentos</Check>
        </Field>
      </ModalBody>
      <ModalFooter Style="display: inline-block; text-align: center;">
        <Button Color="Color.Primary" Disabled="@CrearSolapaDesHabilitado" Clicked="@RegistrarSolapa" Style="width: 50px;">Registrar</Button>
        <Button Color="Color.Secondary" Clicked="@SalirSolapa" Style="width: 50px; margin-left: 10px;">Abortar</Button>
      </ModalFooter>
    </ModalContent>
  </Modal>

}