@page "/SalaReunion/{Codigo:int}"
@using Blazorise
@using TableroPecasV5.Shared
@using TableroPecasV5.Client.Componentes
@using TableroPecasV5.Client.Plantillas
@inherits Logicas.CLogicaSalaReunion

@if (Solapas == null)
{
  <p>Aguarde unos segundos por favor</p>
}
else
{
<div style="@EstiloCompleto">
  <div style="@EstiloSuperior">
    @foreach (Logicas.UnionSolapaTab Solapa in Solapas)
    {
      <div style="@EstiloElemento">
        <TableroPecasV5.Client.Componentes.CElementoTab AnchoTotal="@Contenedores.CContenedorDatos.AnchoOpcionSolapa"
                                                        AltoTotal="@Contenedores.CContenedorDatos.AltoOpcionSolapa"
                                                        Texto="@Solapa.Solapa.Nombre" Codigo="@Solapa.Solapa.Codigo"
                                                        @key="@Solapa.Solapa.Codigo"
                                                        @ref="@Solapa.TabLocal" CodigoPrimeraSolapa="@CodigoPrimeraSolapa" />
      </div>
    }
    @if (Contenedores.CContenedorDatos.EsAdministrador)
    {
      <div style="@EstiloAgregarSolapa">
        <TableroPecasV5.Client.Componentes.CElementoTab AnchoTotal="25"
                                                        AltoTotal="@Contenedores.CContenedorDatos.AltoOpcionSolapa"
                                                        Texto="+" Codigo="-1"
                                                        @key="-1"
                                                        @ref="@SolapaCrear.TabLocal"
                                                        CodigoPrimeraSolapa="@CodigoPrimeraSolapa" />
      </div>
    }
    @if (EditarXML)
    {
      <div style="@EstiloEditarSolapa">
        <TableroPecasV5.Client.Componentes.CElementoTab AnchoTotal="40"
                                                        AltoTotal="@Contenedores.CContenedorDatos.AltoOpcionSolapa"
                                                        Texto="Editar" Codigo="-2"
                                                        @key="-1"
                                                        @ref="@SolapaEditar.TabLocal"
                                                        CodigoPrimeraSolapa="@CodigoPrimeraSolapa" />
      </div>
    }
  </div>

  <div style="width: 100%; height: 1px; background-color: white; position: absolute; margin-top: 33px; padding: 0px;" />

  @if (PreguntasEnSolapa != null)
  {
    <div style="width: 100%; background-color: white; position: absolute; margin-top: 35px;">
      @foreach (Logicas.UnionPreguntaTab Pregunta in PreguntasEnSolapa)
      {
        <div style="@EstiloTarjeta(Pregunta)" @onclick="@((e) => { MoverseAFicha(Pregunta.Pregunta.Codigo); })">
          <TableroPecasV5.Client.Componentes.CTarjeta @ref="@Pregunta.TabLocal" @key="@Pregunta.Pregunta.Codigo"
                                                      Pregunta="@Pregunta.Pregunta" />
        </div>
      }
    </div>
  }
  else
  {
    @if (XMLContenedor != null && XMLContenedor.Length > 0)
    {
      <CascadingValue Value="this">
        <TableroPecasV5.Client.Componentes.CComponenteContenedorBlocks XML="@XMLContenedor" />
       </CascadingValue>
        }
        }
        @if (EditarSolapa)
        {
          <CascadingValue Value="this">
            <TableroPecasV5.Client.Componentes.CAgregarElem XML="@XMLSolapaSeleccionada" />
          </CascadingValue>
        }
    </div>


  <Modal @ref="ModalCrearSolapa" Style="position: fixed; z-index: 99999999;" Closing="@CerrandoCrearSolapa">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
      <ModalHeader>
        <ModalTitle>Agregar una solapa</ModalTitle>
      </ModalHeader>
      <ModalBody>
        <Field>
          <FieldLabel>Nombre de la solapa</FieldLabel>
          <TextEdit Placeholder="Denominación de la solapa" @bind-Text="@NombreSolapaNueva" />
        </Field>
        @*<Field>
            <FieldLabel>Color</FieldLabel>
            <ColorEdit @bind-Color="@ColorSolapaNueva" />
          </Field>*@
        <Field>
          <Check TValue="bool" @bind-Checked="@MultiInstrumentosSolapaNueva">Multi-instrumentos</Check>
        </Field>
      </ModalBody>
      <ModalFooter Style="display: inline-block; text-align: center;">
        <Button Color="Color.Primary" Disabled="@CrearSolapaDesHabilitado" Clicked="@RegistrarSolapa" Style="width: 50px;">Registrar</Button>
        <Button Color="Color.Secondary" Clicked="@SalirSolapa" Style="width: 50px; margin-left: 10px;">Abortar</Button>
      </ModalFooter>
    </ModalContent>
  </Modal>

}