@page "/BingMaps/{Codigo:int}"
@using TableroPecasV5.Shared;
@inherits Logicas.CLogicaBingMaps

<div id="ContenedorMapa" style="@EstiloMapa"></div>

<div id="@Direccion" style="@EstiloMapaComponente">
  @if (Proyecto == null)
  {
    <TableroPecasV5.Client.Componentes.CAguardar/>
  }
</div>

<Modal @ref="ModalMenu">
  <ModalBackdrop />
  <ModalContent IsCentered="true">
    <ModalHeader>
      <ModalTitle>Moverse a detalle</ModalTitle>
    </ModalHeader>
    <ModalBody>
      <Field>
        <Select TValue="string" @bind-SelectedValue="@PreguntaElegida">
          <SelectItem Value="-1">No corresponde</SelectItem>
          @if (Preguntas != null)
          {
            @foreach (CPreguntaPreguntaWISCN Pregunta in Preguntas)
            {
              <SelectItem Style="@EstiloPregunta(Pregunta)" Value="@CodigoPregunta(Pregunta)">@TextoPregunta(Pregunta)</SelectItem>
            }
            /**/
          }
          /**/
        </Select>
      </Field>
    </ModalBody>
    <ModalFooter Style="display: inline-block; text-align: center;">
      <Button style="width: 50px;" Color="Color.Secondary" Clicked="@CerrarMenu">Cerrar</Button>
      <Button style="width: 50px;" Color="Color.Primary" Clicked="@Moverse">Abrir</Button>
    </ModalFooter>
  </ModalContent>
</Modal>

