@*@page "/PagBingWSS"*@
@using TableroPecasV5.Shared;
@using TableroPecasV5.Client.Componentes
@inherits Logicas.CLogicaBingWSS

<div style="width: 100%; height: 100%; position: absolute; left: 0px; z-index: 90; top: 0px;">
  <div style="width: 100%; height: 32px; background: lightgray;">
    <img src="Imagenes/Atras.PNG"
         style="width: 21px; height: 21px; display: inline-block; margin-left: 5px; margin-top: 4px;" @onclick="@Retroceder" />
    <label style="margin-left: 10px; display: inline-block;">Capas definidas</label>
    <Select Style="width: 250px; display: inline-block; margin-left: 5px;" TValue="int" @bind-SelectedValue="@CapaElegida">
      <SelectItem TValue="int" Value="-1">Ninguna</SelectItem>
      @if (CapasWSS != null)
      {
        @foreach (CCapaWSSCN Capa in CapasWSS)
        {
          <SelectItem TValue="int" Value="@Capa.Codigo">@Capa.Nombre</SelectItem>
        }
      }
    </Select>
    <img src="Imagenes/mas.png"
         style="width: 21px; height: 21px; display: inline-block; margin-left: 5px;" @onclick="@EditarCapas" />
    <div style="display: inline-block;">
      <Check TValue="bool" Style="margin-left: 15px; display: inline-block;" @bind-Checked="@VerLabels">Ver labels</Check>
    </div>
    <div style="display: inline-block;">
      <Check TValue="bool" Style="margin-left: 15px; display: inline-block;" @bind-Checked="@VerComoMapaCalor">Mapa de calor</Check>
    </div>
  </div>
  <div id="@Direccion" style="width: 100%; height: calc(100% - 35px); background: white;">
    <div style="width: 100%; height: 100%; position: absolute; margin: 0px;">
      @if (VerComoMapaCalor)
      {
        <CMapaCalor @ref="MapaCalor"
                    Clase="Plantillas.CGrafV2DatosContenedorBlock.ClaseBlock.MapaCalor"
                    CodigoCapa="-1"
                    Direccion="@Direccion"
                    ClaseOrigen="ClaseElemento.Indicador"
                    Proveedor="@ProveedorDatos"
                    Datos="null"
                    Filtros="null"
                    Indicador="@Indicador"
                    CodigoElementoDimension="@CodigoElementoDimension"
                    Abscisa="0"
                    Ordenada="0"
                    ColumnaLat="@NombreColumnaLat"
                    ColumnaLng="@NombreColumnaLng"
                    ColumnaValor="@NombreColumnaValor"
                    Ancho="-1"
                    Alto="-1" />
      }
      else
      {
        <CMapaGradiente @ref="MapaGradiente"
                        CodigoElementoDimension="@CodigoElementoDimension"
                        Direccion="@Direccion"
                        Indicador="@Indicador"
                        NivelFlotante="10"
                        Proveedor="@ProveedorDatos"
                        Abscisa="0"
                        Ordenada="0"
                        Ancho="-1"
                        Alto="-1"
                        VerLabels="@VerLabels"
                        Capa="@CapaWSS"
                        ComoComponente="false" />
      }
    </div>
    @if (EstaLeyendo)
    {
      <div style="width: 100%; height: 100%; position: absolute;">
        <CAguardar Abscisa="0"
                   Ordenada="0" />
      </div>
    }

    @if (Editando)
    {
      <div style="width: 100%; height: 100%; position: absolute;">
        <CascadingValue Value="this">
          <div style="width: 100%; height: 100%; position: absolute; margin-top: 0px; z-index: 20;">
            <CDefinirCapaWSS @ref="DefinidorCapas"
                             ClaseIndicador="@ClaseIndicador"
                             Indicador="@CodigoIndicador"
                             Columnas="@Columnas"
                             ListaCapas="@CapasWSS"
                             AlCerrar="@FncCerrarEditor" />
          </div>
        </CascadingValue>
      </div>
    }
    @if (MostrarDialogoVinculador)
    {
      <div style="width: 100%; height: 100%; position: absolute;">
        <CascadingValue Value="this">
          <CVinculadorWFS ClaseIndicador="@ClaseIndicador"
                          ColumnaVinculo="@ColumnaGeoreferencia"
                          Indicador="@CodigoIndicador"
                          AlResponder="@FncRespuesta" />
        </CascadingValue>
      </div>
    }
  </div>


</div>

